{% extends "crudapp/base.html" %}

{% block content %}
    <body>
        <br>
        <br>

        <div class="text-center">
            <h3>Welcome to the CRUD Application</h3>
            <br>
            <h5>Keep track of your records effectively!</h5>
            <hr>
            <br>
            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account </a>
            <br>
            <br>
            <hr>
            <br>
            <p>User: {{ user }}</p>
            <p>Is authenticated: {{ user.is_authenticated }}</p>
        </div>
    </body>
{% endblock %}